<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <!-- JDBC connection settings -->
    <property name="hibernate.connection.driver_class">org.h2.Driver</property>
    <property name="hibernate.connection.url">jdbc:h2:tcp://localhost/mem:db1</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.connection.autocommit">true</property>

    <!-- Display and format all executed SQL to stdout -->
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>

    <!-- Defines the SQL dialect used in Hiberante's application -->
    <property name="dialect">org.hibernate.dialect.H2Dialect</property>

    <!-- Drop and re-create the database schema on startup -->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <mapping class="Message"/>

<!--
    JDBC connection pool, use Hibernate internal connection pool
    <property name="connection.pool_size">5</property>
-->

<!--
    Enable Hibernate's automatic session context management
    <property name="current_session_context_class">thread</property>
-->

<!--
    Disable the second-level cache
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
-->

  </session-factory>

</hibernate-configuration>
